<html>
<head>
  <link rel="stylesheet" type='text/css' href='/stylesheets/dragDrop.css'>
  <script src="/javascripts/jquery.min.js"></script>
</head>

<body>

<div id="dropzone" webkitdirectory="" directory="">Drop files here</div>
<output id="list"></output>

  <script src="/javascripts/dragDrop.js"></script>
  
</body>
</html>
