<!DOCTYPE html>
<html>
  <head>
    <title>Fritter</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/users/logout">Log out</a>
    <h1> <a href='/'>Fritter</a> </h1>
    <p>Edit freet</p>
    <form method="post" action="/users/edit">
      <textarea  name = 'edittedFreet' rows="4" cols="50"><%= prefreet%></textarea>
      <input type="hidden" name="id" value=<%= id%>>
      <p><button type="submit">Edit</button></p>
    </form>
  </body>
</html>
