body {
  padding: 50px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
}



p {
  margin: 5px;
}

h2 {
  margin: 7px;
}

ul {
  list-style-type: none;
  padding: 5px;
  margin: 5px;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a {
  color: rgb(63,104,171);
}

#container {
  background-color: rgb(232,239,250);
  width: 430px;
}
.freets {
  height: 50px;
  width: 400px;
}

.freets .freets2 {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgb(255,255,255);
  padding: 5px;
}

.lighten {
  color: rgb(150,150,150);
  font-style: italic;
}