<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (typeof(emsg) !== 'undefined') { %>
      <div id='error'> <%= emsg %> </div>
    <% } %>
    <h1> <a href='/'>Fritter</a> </h1>
    <h2> Login </h2> 
    <p class = 'lighten'> Don't have an account? <a href='/users/signup'>sign up!</a> <p>
    <form method="post" action="/users/login">
        <p>Username: <input type="text" name="name" placeholder="Username or Email"></p>
        <p>Password: <input type="password" name="password" placeholder="Password"></p>
        <p><button type="submit">Login</button></p>
      </form>
  </body>
</html>
